interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://jobs.alaska.gov/RR/WARN_notices.htm
  response:
    body:
      string: "\uFEFF<!doctype html>\r\n<html class=\"no-js\" lang=\"en\">\r\n\t<head>\r\n\t\t<!--
        Global site tag (gtag.js) - Google Analytics --> <!-- jobs -->\r\n\t\t<script
        async src=\"https://www.googletagmanager.com/gtag/js?id=UA-160671731-4\"></script>
        \r\n\t\t<script src=\"/scripts/google_UA_160671731_4.js\"></script><meta charset=\"utf-8\">\r\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\r\n\t\t<title>WARN
        notices</title>\t\r\n\t\t<meta name=\"description\" content=\"Division of
        Employment and Training Services WARN Notices\">\r\n\t\t<style> \r\n td {
        \r\n     vertical-align: top; \r\n } \r\n tr td:nth-child(1) { /* I don't
        think they are 0 based */ \r\n    text-align: left; \r\n } \r\n tr td:nth-child(2)
        { /* I don't think they are 0 based */ \r\n    text-align: right; \r\n } \r\n
        tr td:nth-child(3) { /* I don't think they are 0 based */ \r\n    text-align:
        right; \r\n } \r\n tr td:nth-child(4) { /* I don't think they are 0 based
        */ \r\n    text-align: right; \r\n } \r\n tr td:nth-child(5) { /* I don't
        think they are 0 based */ \r\n    text-align: center; \r\n }tr td:nth-child(6)
        { /* I don't think they are 0 based */ \r\n    text-align: left; \r\n } \r\n
        table{ \r\n width:100%; \r\n border:none; \r\n } \r\n td{ \r\n padding: 3px;
        \r\n } \r\n </style> \r\n\r\n\t\t<link rel=\"stylesheet\" href=\"/assets/Govalaska.css\"
        type=\"text/css\" >\r\n\t</head>\r\n\t<body class=\"WCAG page right-sidebar\">\r\n\r\n\t\t<div
        class=\"background-wrap\"> <a class=\"visuallyhidden\" href=\"#main_content\">
        Skip to content </a> <a class=\"back-to-top\" href=\"#\"> Back to Top </a>
        \r\n\t\t\t<!-- begin top SOA menu -->\r\n\t\t\t<div id=\"required-greeting\">\r\n\t\t\t\t<p
        class=\"visuallyhidden\"> The following is a greeting given in one of the
        20 indigenous languages recognized by the State of Alaska. </p>\r\n\t\t\t\t<dl
        id=\"language-greeting\">\r\n\t\t\t\t\t<dt class=\"greeting\"> <a class=\"language-link\"
        href=\"https://www.commerce.alaska.gov/web/dcra/AKNativeLanguagePreservationAdvisoryCouncil/Languages.aspx\">
        Ade' ndadz dengit'a? </a> </dt>\r\n\t\t\t\t\t<dd class=\"speaker\">\r\n\t\t\t\t\t\t<audio
        id=\"deg-xinag\" src=\"https://webcontent.alaska.gov/style/soa/20180912/greetingAssets/deg-xinag.MP3\"
        preload=\"auto\"> </audio>\r\n\t\t\t\t\t\t<button class=\"pronunciation\">
        Listen to pronunciation </button>\r\n\t\t\t\t\t</dd>\r\n\t\t\t\t\t<dd class=\"language\">
        (Deg Xinag) </dd>\r\n\t\t\t\t\t<dd class=\"translation\"> \"Hello, how are
        you?\" </dd>\r\n\t\t\t\t</dl>\r\n\t\t\t</div>\r\n\t\t\t<!-- / required-greeting
        -->\r\n\t\t\t<nav class=\"global-nav-menu\">\r\n\t\t\t\t<div class=\"inline-div\">\r\n\t\t\t\t\t<ul
        id=\"menu-statewide-navigation\">\r\n\t\t\t\t\t\t<li> <a href=\"https://www.alaska.gov\">
        State of Alaska </a> </li>\r\n\t\t\t\t\t\t<li> <a href=\"https://my.alaska.gov\">
        myAlaska </a> </li>\r\n\t\t\t\t\t\t<li> <a href=\"https://www.alaska.gov/akdir1.html\">
        Departments </a> </li>\r\n\t\t\t\t\t\t<li> <a href=\"https://www.alaska.gov/employeeHome.html\">
        State Employees </a> </li>\r\n\t\t\t\t\t\t<li> <a href=\"#SOAfooterlinks\">
        Statewide Links </a> </li>\r\n\t\t\t\t\t</ul>\r\n\t\t\t\t\t<!-- /menu-statewide-navigation
        --> \r\n\t\t\t\t</div>\r\n\t\t\t\t<!-- /inline-div --> \r\n\t\t\t</nav>\r\n\t\t\t<!--
        /global-nav-menu --> \r\n\t\t\t<!-- end top SOA menu --> <!-- begin top header
        -->\r\n\t\t\t<div class=\"site-container\">\r\n\t\t\t\t<!-- Agency Header
        -->\r\n\t\t\t\t<header class=\"site-header\">\r\n\t\t\t\t\t<div class=\"wrap\">\r\n\t\t\t\t\t\t<div
        class=\"site-logo\">\r\n\t\t\t\t\t\t\t <a href=\"https://www.alaska.gov\">
        \r\n\t\t\t\t\t\t\t\t<img src=\"/img/state_seal_color-01.png\" alt=\"State
        of Alaska logo\" />\r\n\t\t\t\t\t\t\t </a>\r\n\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t<div
        class=\"title-area\">\r\n\t\t\t\t\t\t\t<div class=\"wrap\">\r\n\t\t\t\t\t\t\t\t<div
        class=\"soa-link\">\r\n\t\t\t\t\t\t\t\t\t<a href=\"https://labor.alaska.gov/\">\r\n\t\t\t\t\t\t\t\t\t\t<span
        class=\"site-title\">Department of Labor and Workforce Development</span>\r\n\t\t\t\t\t\t\t\t\t</a>\r\n\t\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t\t\t<div
        id=\"search-form\">\r\n\t\t\t\t\t\t\t\t\t<div class=\"wrap\">\r\n\t\t\t\t\t\t\t\t\t\t<div
        class=\"search-form\">\r\n\t\t\t\t\t\t\t\t\t\t\t<form class=\"search-soa\"
        action=\"/search.htm\" method=\"get\" name=\"gs\">\r\n\t\t\t\t\t\t\t\t\t\t\t\t<div
        role=\"search\">\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t<input id=\"search-field-big\"
        title=\"Search\" name=\"q\" type=\"search\" aria-labelledby=\"search-button\"
        \ />\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t<button id=\"search-button\" name=\"submit\"
        type=\"submit\"> Search </button>\r\n\t\t\t\t\t\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t\t\t\t\t\t</form>\r\n\t\t\t\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t\t\t</div><!--
        search-form -->\r\n\t\t\t\t\t\t\t\t<div id=\"search_icon_placeholder\"> &nbsp;
        </div>\r\n\t\t\t\t\t\t\t</div><!-- wrap -->\r\n\t\t\t\t\t\t\t<div class=\"title-text\">\t\r\n\t\t\t\t\t\t\t\t<span
        class=\"site-description\">Division of Employment and Training Services</span>\r\n\t\t\t\t\t\t\t</div><!--
        title-text -->\r\n\t\t\t\t\t\t</div><!-- title-area -->\r\n\t\t\t\t\t</div><!--
        wrap -->\r\n\t\t\t\t\t<!-- / site-header wrap --> \r\n\t\t\t\t</header><!--
        /site-header --> \r\n\t\t\t\t<!-- Agency Navigation -->\r\n\t\t\t\t<nav class=\"agency-navigation\">
        \r\n <div class=\"wrap\"> \r\n <ul id=\"agency-navigation-menu\" class=\"agency-responsive-menu
        responsive-menu\"> \r\n <li class=\"menu-item\"><a href=\"https://labor.alaska.gov/dets/home.htm\">Home</a></li>
        \r\n          \r\n <li class=\"menu-item menu-item-has-children\"><a href=\"https://jobs.alaska.gov/employer.htm\">Employer</a>
        \r\n <ul class=\"sub-menu\"> \r\n <li class=\"menu-item menu-item-has-children\"><h5>&nbsp;
        Recruitment</h5></li> \r\n  \r\n <li class=\"menu-item\"><a href=\"https://alaska.statevirtualjobfair.com/\">Virtual
        Job Fair Request</a></li> \r\n <li class=\"menu-item\"><a href=\"https://jobs.alaska.gov/apprentice/\">Registered
        Apprenticeships</a></li> \r\n <li class=\"menu-item\"><a href=\"https://jobs.alaska.gov/employer.htm\">Business
        Connection</a></li> \r\n <li class=\"menu-item\"><h5>&nbsp; Hiring Incentives</h5></li>
        \r\n <li class=\"menu-[...]
