interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.dllr.state.md.us/employment/warn.shtml
  response:
    body:
      string: "\uFEFF<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta
        charset=\"utf-8\">\r\n    <title>Work Adjustment and Retraining Notification
        (WARN) Log Year 2021 - Division of Workforce Development and Adult Learning</title>\r\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0,
        maximum-scale=1.0\" />\r\n    <meta name=\"description\" content=\"\">\r\n
        \   <meta name=\"author\" content=\"\">\r\n    <!-- Step 1 : Link to MD favicon
        -->\r\n    <link rel=\"shortcut icon\" href=\"../egov/img/icons/favicon.ico\">\r\n
        \   <!-- Necessary Bootstrap.css for responsive design -->\r\n    <link href=\"../egov/frameworks/bootstrap/css/bootstrap.min.css\"
        rel=\"stylesheet\">\r\n    <link href=\"../egov/css/agency-styles.css\" rel=\"stylesheet\">\r\n
        \   <link href=\"../egov/css/dllrstyle.css\" rel=\"stylesheet\" type=\"text/css\">\r\n
        \   <link href=\"../egov/css/agency-header.css\" rel=\"stylesheet\">\r\n    <!--[if
        ie 8]>\r\n        <link id=\"css_IE8\" href=\"../egov/css/ie/ie8.css\" rel=\"stylesheet\"
        media=\"screen\" />\r\n    <![endif]-->\r\n    <!--[if ie 7]>\r\n        <link
        id=\"css_IE7\" href=\"../egov/css/ie/ie7.css\" rel=\"stylesheet\" media=\"screen\"
        />\r\n    <![endif]-->\r\n    <!--[if lt IE 9]>\r\n        <script src=\"../egov/js/html5shiv.js\"></script>\r\n
        \   <![endif]-->\r\n\r\n    <script src=\"../egov/js/jquery-1.8.2.min.js\"></script>\r\n
        \  \t<link rel=\"stylesheet\" href=\"../egov/css/jquery-ui-1.10.3.min.css\"
        />\r\n    <script src=\"../egov/js/jquery-ui-1.10.3.min.js\"></script>\r\n
        \   \r\n     <!--Step 4 : Necessary .js for  Statewide nav bar script -->\r\n\t<script
        type=\"text/javascript\" src=\"../egov/js/yui-min.js\"></script>\r\n\t<script
        type=\"text/javascript\">\r\n\t$(document).ready(function() {\r\n    $(\"#accordion\").accordion({
        active: false, autoHeight: false, collapsible: true, navigation: true, heightStyle:
        \"content\" });\r\n  });\r\n</script>    \r\n    \r\n</head>\r\n\r\n          <div
        class=\"container\" id=\"MobileNav\">\r\n        <div class=\"skipNav\">\r\n
        \           <a href=\"#primary_content_Block\">Skip to Main Content</a>\r\n
        \       </div>\r\n        <div id=\"mdgov_globalSiteWrapper\">\r\n            <div
        class=\"row-fluid\">\r\n                <div id=\"mdgov_TopSliverBar\" class=\"clearfix\">\r\n
        \                   <div id=\"mdgov_TopSliverBarContent\" class=\"clearfix\">\r\n
        \                       <div id=\"mdgov_sliverLeft\">\r\n                            <div
        id=\"mdgov_mobileNavButton\" class=\"hidden-desktop\">\r\n\t\t\t\t\t\t\t\t<a
        class=\"show\" href=\"#/\"><i class=\"icon-white icon-align-justify\">&nbsp;</i>
        <span>Menu</span> </a>\r\n                                <a class=\"hide\"
        href=\"#MobileNav\"><i class=\"icon-white icon-align-justify\">&nbsp;</i>
        <span>Menu</span> </a>\r\n                            </div>\r\n                        </div>\r\n
        \                       <div id=\"mdgov_sliverRight\">\r\n                            <!--
        STEP 4: displays statewide nav bar -->\r\n                            <script
        type=\"text/javascript\">\r\n                                YUI().use(function
        (Y) {\r\n                                    var url = \"https://www.maryland.gov/branding/statewideNavigationDefer2017.js\",\r\n
        \                                   obj = Y.Get.script(url, {\r\n                                        onSuccess:
        function () {\r\n                                            document.getElementById('mdgov_sliverRight').innerHTML
        = showStatewideNavigationWithTranslate(\"white\");\r\n                                        }\r\n
        \                                   });\r\n                                });\r\n
        \                           </script>\r\n                            <noscript>You
        must have Javascript enabled to see this menu.</noscript>\r\n                            <!--
        END statewide nav bar -->\r\n                        </div>\r\n                    </div>\r\n
        \               </div>\r\n            </div>\r\n            <script type=\"text/javascript\"
        src=\"../scripts/Print.js\"></script>\r\n            <!-- Begin Header -->\r\n
        \           <div id=\"headerBlock\" class=\"row-fluid\">\r\n                <div
        id=\"he[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.dllr.state.md.us/employment/warn2021.shtml
  response:
    body:
      string: "\uFEFF<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta
        charset=\"utf-8\">\r\n    <title>Work Adjustment and Retraining Notification
        (WARN) Log Year 2021 - Division of Workforce Development and Adult Learning</title>\r\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0,
        maxi[...]
[...]
