interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://jfs.ohio.gov/warn/current.stm
  response:
    body:
      string: "\r\n\r\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\"
        \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head><title>\r\n\tCurrent Public
        Notices of Layoffs and Closures | WARN | Ohio Department of Job and Family
        Services\r\n</title><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1\" /><link rel=\"stylesheet\" type=\"text/css\"
        href=\"/WorkArea/FrameworkUI/css/ektron.stylesheet.ashx?id=-1759591071\" /><script
        type=\"text/javascript\" src=\"/WorkArea/FrameworkUI/js/ektron.javascript.ashx?id=-569449246+-1939951303+-1080527330+-1687560804+1338359439\"></script>\r\n\r\n
        \   <script src=\"/uploadedFiles/jfsohiogov/js/jscripts.js\" type=\"text/javascript\"></script>\r\n
        \   <script src=\"/uploadedFiles/jfsohiogov/js/jscripts-mobile.js\" type=\"text/javascript\"></script>\r\n
        \   <link rel=\"stylesheet\" type=\"text/css\" href=\"/uploadedFiles/jfsohiogov/css/clear-sans/style.css\"
        /><link rel=\"stylesheet\" type=\"text/css\" href=\"/uploadedFiles/jfsohiogov/css/robotoslab-bold/style.css\"
        /><link rel=\"stylesheet\" type=\"text/css\" href=\"/uploadedFiles/jfsohiogov/css/elegant-icons/style.css\"
        /><link rel=\"stylesheet\" type=\"text/css\" href=\"/uploadedFiles/jfsohiogov/css/banner.css\"
        /><link rel=\"stylesheet\" type=\"text/css\" href=\"/uploadedFiles/jfsohiogov/css/style.css\"
        /><link rel=\"stylesheet\" type=\"text/css\" href=\"/uploadedFiles/jfsohiogov/css/styleMobile.css\"
        />\r\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"/uploadedFiles/jfsohiogov/css/no-right-nav.css\"
        />\r\n    <style type=\"text/css\">/********************************************************************************/\r\n/**
        COMMON                                                                     **/\r\n/********************************************************************************/\r\n\r\nbody
        {\r\n    background-color: #FFFFFF;\r\n    margin: 0px;\r\n    padding: 0px;\r\n
        \   text-align: center;\r\n    font: small Arial, Helvetica, Verdana, sans-serif;\r\n}\r\n\r\n.hiddenSubmitBut[...]
