interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dlr.sd.gov/workforce_services/businesses/warn_notices.aspx
  response:
    body:
      string: "\r\n\r\n<!DOCTYPE html>\r\n<html lang=\"en\">\r\n <head>\r\n     <!--
        Google Tag Manager -->\r\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\r\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\r\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\r\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\r\n})(window,document,'script','dataLayer','GTM-KV6SGX2');</script>\r\n<!--
        End Google Tag Manager -->\r\n \r\n<title>Workforce Services for Businesses
        - Worker Adjustment and Retraining Notification Act (WARN)</title>  \r\n    <meta
        charset=\"utf-8\" />\r\n    <meta http-equiv=\"x-ua-compatible\" content=\"IE=edge\">\r\n\r\n\r\n\r\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\r\n<!--<script
        type=\"text/javascript\">\r\n\r\n  var _gaq = _gaq || [];\r\n  _gaq.push(['_setAccount',
        'UA-20828256-4']);\r\n  _gaq.push(['_trackPageview']);\r\n\r\n  (function()
        {\r\n    var ga = document.createElement('script'); ga.type = 'text/javascript';
        ga.async = true;\r\n    ga.src = ('https:' == document.location.protocol ?
        'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';\r\n    var
        s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga,
        s);\r\n  })();\r\n\r\n</script>-->\r\n\r\n<meta http-equiv=\"pragma\" CONTENT=\"no-cache\">\r\n<meta
        HTTP-equiv=\"cache-control\" CONTENT=\"no-cache,no-store\">\r\n\r\n<link rel=\"icon\"
        type=\"image/png\" href=\"/img/favicon.png\" />\r\n    <script>\r\n        (function
        () {\r\n            var cx = '012382400048732927914:p8hwlfjqfj4';\r\n            var
        gcse = document.createElement('script');\r\n            gcse.type = 'text/javascript';\r\n
        \           gcse.async = true;\r\n            gcse.src = (document.location.protocol
        == 'https:' ? 'https:' : 'http:') +\r\n                '//cse.google.com/cse.js?cx='
        + cx;\r\n            var s = document.getElementsByTagName('script')[0];\r\n
        \           s.parentNode.insertBefore(gcse, s);\r\n        })();\r\n</script>\r\n<script
        language=\"javascript\">\r\n\r\n    if (top.frames.length != 0)\r\n        top.location
        = self.document.location;\r\n\r\n</script>\r\n\r\n<style> html{display:none;}
        </style>\r\n<script>\r\n   if(self == top) {\r\n       document.documentElement.style.display
        = 'block'; \r\n   } else {\r\n       top.location = self.location; \r\n   }\r\n</script>\r\n\r\n\r\n
        \     <link rel=\"stylesheet\" href=\"/inc/styles/styles.css\" type=\"text/css\"
        />\r\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css\">\r\n<link
        href=\"/inc/MyanmarFont/stylesheet.css\" rel=\"stylesheet\" type=\"text/css\"
        />\r\n<link href=\"https://fonts.googleapis.com/css?family=Padauk\" rel=\"stylesheet\">\r\n\r\n
        \   <link rel=\"stylesheet\" type=\"text/css\" media=\"print\" href=\"/inc/styles/print.css\"/>\r\n\r\n<script
        src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\r\n<script
        src=\"https://code.jquery.com/ui/1.12.1/jquery-ui.js\"></script>\r\n</head>\r\n<body>\r\n
        \         \r\n   <!-- Google Tag Manager (noscript) -->\r\n \r\n<noscript>\r\n\r\n\t<iframe
        src=\"https://www.googletagmanager.com/ns.html?id=GTM-KV6SGX2\"\r\nheight=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe>\r\n\r\n</noscript>\r\n\r\n<!--
        End Google Tag Manager (noscript) -->\r\n \r\n    <section id=\"main\">\r\n
        \       <ul class=\"skip\">\r\n            <li><a href=\"#nav\">skip to Main
        Navigation</a></li>\r\n            <li><a href=\"#secondarycontent\">skip
        to Main Content</a></li>\r\n            <li><a href=\"#footer\">skip to Footer</a></li>\r\n
        \       </ul>        \r\n<div id=\"search\"><gcse:search></gcse:search></div>\r\n
        \       <nav id=\"topnav\">\r\n        <div id=\"secondarymenu\">\r\n            <ul>\r\n
        \               <li id=\"menubar\"><i class=\"fa fa-bars\"></i></li>\r\n                <li><a
        href=\"/covid_19_resources.aspx\">COVID-19</a></li>\r\n                <li><a
        href=\"/staff_directory.aspx\">Contact Us</a></li>\r\n                <li><a
        href=\"https://dlr.sd.gov/calendar/default.aspx\">Upcoming Events</a></li>\r\n
        \               <li><a href=\"/news/default.aspx\">News</a></li>\r\n                <li><a
        href=\"/publications/default.aspx\">Publications</a></li>\r\n                <li><a
        href=\"/join_our_team.aspx\">Join Our Team</a></li>\r\n                <li
        id=\"searchicon\"><i class=\"fa fa-search\"></i>\r\n            </ul>\r\n
        \       </div>\r\n            \r\n        </nav>\r\n        <header>\r\n              \r\n
        \           <div id=\"logo\">\r\n                <a href=\"/\"><img src=\"/img/dlrlogo.png\"
        alt=\"Department of Labor and Regulation\" />\r\n                </a>\r\n
        \           </div>\r\n            <div id=\"sec\">\r\n                <h1>Marcia
        Hultman</h1>\r\n                <h2>Cabinet Secretary</h2>\r\n            </div>\r\n
        \           <div id=\"fontsize\">Font Size: <span id=\"small\">A</span> <span
        id=\"medium\">A</span> <span id=\"large\">A</span></div>\r\n            <div
        id=\"language\"> <div id=\"google_translate_element\"></div>\r\n                <script
        type=\"text/javascript\">\r\n                                    function
        googleTranslateElementInit() {\r\n                                        new
        google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');\r\n
        \                                   }\r\n</script><script type=\"text/javascript\"
        src=\"//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit\"></script></div>\r\n
        \           <nav id=\"nav\">\r\n                <ul>\r\n\r\n                    <li><a
        href=\"#\"><i class=\"fa fa-file-text-o\"></i><h1>Find a Form<br /></h1></a>\r\n
        \                       <div>\r\n                            <p style=\"text-transform:
        none; font-weight: normal;\"><strong><em>Please note:</em></strong> Internet
        Explorer is the recommended browser for state e-forms. <a style=\"color: #fff;\"
        target=\"_blank\" href=\"https://www.state.sd.us/eforms/secure/eforms/Instructions%20for%20using%20fillable%20Eforms.pdf\">Learn
        more, including special instructions for Microsoft Edge users.</a><br /><br
        /></p>\r\n                            <div class=\"navcolumn\">\r\n                                <div
        class=\"letter\"><span>A</span>\r\[...]
